html, body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    color: rgb(71, 53, 25);
    text-align: center;
    font-size: 1.2em;
}
.card {
    margin: 20px;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;

}
.message{
    background-color: green;
    color: black;
}
.link{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}