.align {
  text-align: center;
  margin-top: 30px;
}
.col-md-4 {
  position: relative;
}
.col-md-4 img {
  object-fit: contain;
  height: 400px;
  width: 100%;
}
.text-center {
  background-color: darkgreen;
  width: 100%;
  color: white;
}
.altr {
  object-fit: contain;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}
.welcome-text {
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-align: center;
}
.action {
  padding: 1rem 0;
}
.play {
  background-color: #01CD74;
  margin-left: 45%;
  text-decoration: none;
  color: white;
  padding: 10px 40px 10px 40px;
  border: 1px solid #01CD74;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.5s;
}
.play:focus,
.play:hover {
  background-color: white;
  color: #01CD74;
}
.game-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-game-button {
  align-self: center;
}

.card {
  margin: 20px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.message {
  background-color: green;
  color: black;
}
.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.header {
  text-align: center;
}
