.container {
    background-color: rgb(218, 214, 214);
    height: 500px;
}
h2.title {
    text-align: center;
    color: rgb(77, 47, 40);
}
p.description {
    text-align: center;
}
.cards {
    float:left;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.card {
    float:left;
    background-color: blue;
    width: 180px;
    height: 220px;
    margin-left: 20px;
}
.card-Dog {
    float:left;
    width: 180px;
    height: 220px;
    margin-left: 20px;
    background-image: url("images/dog.jpg");
}
.card-Cat {
    float:left;
    width: 180px;
    height: 220px;
    margin-left: 20px;
    background-image: url("images/cat.png");
}

